Django==5.0.14
djangorestframework==3.17.1
django-environ==0.14.0
django-filter==24.3
django-cors-headers==4.9.0
psycopg2-binary==2.9.12
celery==5.4.0
redis==5.0.8
django-redis==5.4.0
gunicorn==23.0.0
whitenoise==6.9.0
pytest==9.1.1
pytest-django==4.12.0
